<div class="main-container">
  <div class="login-form-container">
    <form [formGroup]="loginData" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="username"> User Name</label>
        <input
          placeholder="Enter your Username"
          type="text"
          id="username"
          class="form-control"
          formControlName="username"
        />
        <span *ngIf="!validUser">*User does not exist</span>
        <span
          *ngIf="
            !loginData.get('username').valid &&
            loginData.get('username').touched &&
            validUser
          "
          >*Enter Username</span
        >
      </div>
      <div class="form-group">
        <label for="password"> Password</label>
        <input
          placeholder="Enter your password"
          type="password"
          id="password"
          class="form-control"
          formControlName="password"
        />
        <span *ngIf="!validPassword">*Invalid Password</span>
        <span
          *ngIf="
            !loginData.get('password').valid &&
            loginData.get('password').touched &&
            validPassword
          "
          >*Enter Password</span
        >
      </div>
      <div class="button-container">
        <button class="btn btn-primary" type="submit">Login</button>
      </div>
    </form>
  </div>
</div>
